@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">

<div class="container">
    <div class= "col-md-6">
        <p>The first St. Joseph Bazaar took place in 1912 when the School Sisters of Notre Dame sold fancy needlework 
            to the parishioners to purchase school supplies for the St. Joseph Grade School. This was the beginning of 
            what has become a community event for the city of Conway.</p>
        <p>The Bazaar Mission Statement exemplifies the importance of this event to the entire parish:
            “The St. Joseph Bazaar exists solely to benefit St. Joseph School. It offers parishioners and others a way 
            to help provide financial support and a margin of excellence for the educational opportunities of students. 
            In the implantation of this mission the Bazaar maintains an environment that encourages and provides community 
            interaction, continuity, fellowship, public service, leadership development, stewardship, and evangelization; 
            therefore, generating abundant opportunities for elevation the general good of the school. The Bazaar is a 
            ministry through which the school expresses its commitment to being a loving, caring, joy-filled people dedicated 
            to the growth of God’s kingdom and the living of the Gospel.”</p>
    </div>
</div>
