html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.defaultText{
  font-family: Tiro Devanagari Marathi;
  font-size: 18;
}

header{
  font-family: Tiro Devanagari Marathi;
}

h1, h3, h4{
  font-family: Tiro Devanagari Marathi;
}

p{
  font-family: Tiro Devanagari Marathi;
}
a.btn.btn-primary.disabled{
  background-color: #5B1586;
  border-color: #5B1586;
}

table{
  font-family: Tiro Devanagari Marathi;
}
.table th{
  background-color: #ab8cb9;
  color: white;
}
.table th, .table td{
  border: 1pt solid whitesmoke;
}
.table tr:nth-child(even){
  background-color: lavender;
}

.row{
  font-family: Tiro Devanagari Marathi;
}

input{
  margin-top: 5px;
}

.btn-primary{
  font-family: Tiro Devanagari Marathi;
  background-color: #5B1586;
  border-color: #5B1586;
}

#return{
  font-family: Tiro Devanagari Marathi;
}

