html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.defaultText{
  font-family: Tiro Devanagari Marathi;
  font-size: 18;
}

header{
  font-family: Tiro Devanagari Marathi;
}

h1, h4{
  font-family: Tiro Devanagari Marathi;
}

p{
  font-family: Tiro Devanagari Marathi;
}

table{
  font-family: Tiro Devanagari Marathi;
}

.row{
  font-family: Tiro Devanagari Marathi;
}

input{
  margin-top: 5px;
}
